
@model IEnumerable<OrdenesViewModel>

@{
    ViewData["tittle"] = "Reportes de ordenes";
}


<head>

</head>

<style>

    table.table-dark {
        background-color: #333;
        border-radius: 10px; /* Redondear los bordes de la tabla */
        overflow: hidden; /* Asegura que el contenido no se salga de los bordes redondeados */
    }


    table.table-dark th,
    table.table-dark td {
        border: none; /* Elimina los bordes de las celdas para que no afecten el borde redondeado */
    }


    .icono-accionExportar{
        color: lightgrey;
        transition: color 0.3s;
    }


    .icono-accionExportar:hover{
        color: white;
    }


    .search-input::placeholder {
        color: #bbb; /* Cambia el color del texto del placeholder */
    }


    .search-input {
        background-color: #444; /* Cambia el color de fondo de la barra de búsqueda */
        color: white; /* Cambia el color del texto */
        border: 1px solid #666; /* Cambia el color del borde */
        border-radius: 5px; /* Redondear bordes de la barra de búsqueda */
    }


    .search-input:focus {
        background-color: #555; /* Color de fondo cuando está en foco */
        border-color: #888; /* Cambiar el color del borde cuando está en foco */
        outline: none; /* Quitar el borde azul predeterminado */
        color: white;
    }

</style>




<div class="container">
    <h1>Reporte de ordenes</h1>

    
    <hr />

    <i class="bi bi-upload"></i>

    <table class="table table-dark table-hover" id="ordenesJefesTable">
        <thead>
            <tr>
                <th>#Orden</th>
                <th>Nombre</th>
                <th>Modelo</th>
                <th>Solicitante</th>
                <th>Fecha de solicitud</th>
                <th>Accion</th>
                <th>Estado</th>
                <th>Exportar</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var modelo in Model)
            {
                <tr>
                    <td>@modelo.IdOrden</td>
                    <td>@modelo.NombreArticulo</td>
                    <td>@modelo.Modelo</td>
                    <td>@modelo.Solicitante</td>
                    <td>@modelo.FechaCreacion</td>
                    <td>
                        <a asp-action="VerOrdenEspecifica" asp-route-id="@modelo.IdOrden" style="text-decoration:auto; color: blue">Ver</a>
                    </td>

                    <td>
                        @if (modelo.Estado == "Aprobada")
                        {
                            <span class="text-success">@modelo.Estado</span>
                        }
                        else if (modelo.Estado == "Rechazado por jefe")
                        {
                            <span class="text-danger">Rechazado por ti</span>
                        }
                        else if (modelo.Estado == "Rechazada")
                        {
                            <span class="text-danger">@modelo.Estado</span>
                        }
                        else if (modelo.Estado == "Aprobado por jefe")
                        {
                            <span class="text-warning">Pendiente de aprobación financiero</span>
                        }
                    </td>

                    <td>
                        <i class="fas fa-external-link-alt icono-accionExportar"></i>
                        <input type="checkbox">
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const table = document.querySelector("#ordenesJefesTable");
            const dataTable = new simpleDatatables.DataTable(table, {
                searchable: true,
                fixedHeight: true,
                perPage: 10,
                labels: {
                    placeholder: "Buscar...",
                    perPage: "Registros por página",
                    noRows: "No se encontraron resultados",
                    info: "Mostrando {start} a {end} de {rows} registros"
                }
            });
        });
    </script>
}