@model InfoOrdenViewModel



@{
    ViewData["Title"] = "Ver orden";
}


<style>
    table.table-dark {
        background-color: #333;
        border-radius: 10px; /* Redondear los bordes de la tabla */
        overflow: hidden; /* Asegura que el contenido no se salga de los bordes redondeados */
    }


        table.table-dark th,
        table.table-dark td {
            border: none; /* Elimina los bordes de las celdas para que no afecten el borde redondeado */
        }

    .btn-nuevo {
        background-color: grey; /* Color de fondo del botón */
        color: white; /* Color del texto */
        border: none; /* Sin borde */
        border-radius: 5px; /* Bordes redondeados */
        padding: 10px 20px; /* Espaciado interno */
        transition: background-color 0.3s; /* Transición suave para el color de fondo */
    }

        .btn-nuevo:hover {
            background-color: lightslategrey; /* Cambia el color a un gris más claro (o el color que desees) */
        }

    .icono-accionEliminar {
        color: red; /* Cambia el color de los íconos */
        transition: color 0.3s; /* Transición suave para el color */
    }

    .icono-accionEditar {
        color: lightgreen;
        transition: color 0.3s; /* Transición suave para el color */
    }

        .icono-accionEditar:hover {
            color: forestgreen; /* Cambia el color al pasar el mouse (puedes personalizarlo) */
        }

    .icono-accionEliminar:hover {
        color: darkred; /* Cambia el color al pasar el mouse (puedes personalizarlo) */
    }


    .search-input::placeholder {
        color: #bbb; /* Cambia el color del texto del placeholder */
    }


    .search-input {
        background-color: #444; /* Cambia el color de fondo de la barra de búsqueda */
        color: white; /* Cambia el color del texto */
        border: 1px solid #666; /* Cambia el color del borde */
        border-radius: 5px; /* Redondear bordes de la barra de búsqueda */
    }


    .search-input:focus {
        background-color: #555; /* Color de fondo cuando está en foco */
        border-color: #888; /* Cambiar el color del borde cuando está en foco */
        outline: none; /* Quitar el borde azul predeterminado */
        color: white;
    }

</style>


<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>#Orden</th>
            <th>Nombre</th>
            <th>Modelo</th>
            <th>Fecha de solicitud</th>
            <th>Monto</th>
            <th>Jefe aprobador</th>
            <th>Jefe financiero</th>
            <th>Estado</th>
            @if(Model.Estado == "Rechazada" || Model.Estado == "Rechazado por jefe")
            {
                <th>Motivo rechazo</th>
            }
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>@Model.IdOrden</td>
            <td>@Model.NombreArticulo</td>
            <td>@Model.Modelo</td>
            <td>@Model.FechaCreacion</td>
            <td>@Model.Total</td>
            <td>@Model.JefeAprobador</td>
            @if (Model.JefeFinanciero == null)
            {
                <td>Sin asignar</td>
            }else{
                <td>@Model.JefeFinanciero</td>
            }

            <td>
                @if (Model.Estado == "Aprobada")
                {
                    <span class="text-success">@Model.Estado</span>
                }
                else if (Model.Estado == "Rechazada" || Model.Estado == "Rechazado por jefe")
                {
                    <span class="text-danger">@Model.Estado</span>
                }
                else if (Model.Estado == "Pendiente" || Model.Estado == "Aprobado por jefe")
                {
                    <span class="text-warning">@Model.Estado</span>
                }
            </td>
            @if(Model.Estado == "Rechazada" || Model.Estado == "Rechazado por jefe")
            {
                <td>@Model.Comentarios</td>
            }
        </tr>
    </tbody>
</table>